body{
    font-family: sans-serif;
}
.demo{
    display: flex;
    padding-bottom: 100px;
    background-image:linear-gradient(135deg,#71b7e6,#9b59b6);
    margin:15px;
}
.add{
    width:50%;
    padding-left:0 100px 0 100px;
}

.link{
    text-decoration: none;
    background-color: rgb(247, 70, 6);
    padding: 5px;
    border-radius: 5px;
    margin: 0;
}
.header{
    margin:auto;
    padding: 10px;
    border-left: 5px solid rgb(201, 102, 31) ;
}
.chill{
    margin-left: 150px;
    margin-top: 100px;
    font-weight: 900px;
    font-size: 40px;
}


.add img{
    width:60%;
   
    margin-top:100px;
    padding: 0 100px 0 50px;
}
.img{
    margin-top: 100px;
}
.add p,h1,a{
margin-left: 150px;
}
.style{
    color: rgb(223, 92, 49);
}
.sec1{
    text-align:center;
    font-size: 40px;
    font-weight: 900px;
}
.img1{
    width: 40%;
    height: 40%;
   padding-left: 90px;
}
.second-section{
    display: flex;
   padding-top: 2opx;
  margin-bottom: 30px;
  margin-left: 100px;
  
 
}
.mission{
text-align: center;
font-size: 20px;
font-weight: 400px;
font-style: initial;
}
.div1{
    background-color: rgb(74, 133, 123);
    width: 25%;
    height: 40%;
   padding: 20px;
   margin-right: 10px;
   border-radius: 15px;
}
.div2{
    background-color: rgb(209, 194, 109);
    width: 25%;
    height: 40%;
   padding: 20px;
   margin-right:10px;
   border-radius: 15px;
   margin-left: 10px;
}
.div3{
    background-color: rgb(149, 161, 78);
    width: 25%;
    height: 40%;
   padding: 20px;
  
   border-radius: 15px;
 
   margin-left:10px;
}
.img4{
    width: 75%;
    height: 80%;
    margin-left: 100px;
    margin-right: 80px;
    margin-top: 50px;
}
.third-section{
    display: flex;
    margin-top: 50px;
  background-image:linear-gradient(135deg,#71b7e6,#9b59b6);
  color: beige;
}
.div6{
    margin-right: 200px;
    justify-content:center;
    margin-left: 80px;
    margin-top: 50px;
}


.forth-section{
    display: flex;
    margin-top: 50px;
    background-image: url(background\ img.jpg);
}
.img5{
    width:80%;
    height: 80%;
    margin-right: 200px;
    margin-top: 50px;
   
}
.div7{
    margin-left: 100px;
    margin-right: 80px;
    color: aliceblue;
    margin-top: 50px;
}
.heading{
    margin: 0;
}
footer{
    width:100%;
    height: 100px;
    background-color: rgb(4, 6, 8);
}
.footer{
   margin-left: 550px;
   color:rgb(243, 243, 89);
   font-style: italic;
}
.para1{
    text-align: center;
    color: beige;
}
.footer-class{
    color: rgb(255, 71, 5);
    font-style: italic;
    font-family: cursive;
}